body {
    margin: 0px;
}

#background-logo {
    background-image: url(./img/pattern.png);
    background-size: contain;
    background-repeat: repeat-x;
    background-color: #4EA0FF;
}

#logo {
    width: 20%;
    padding-top: 3%;
    padding-left: 1%;
    padding-bottom: 1%;
}

.art1-section {
    font-size: 30px;
    margin-left: 0.7%;
}

#sottotitolo {
    font-size: 19px;
    margin: 0px;
    color: #808080;
    
}

#minisottotitolo {
    font-size: 15px;
    margin: 0px;
    color: #808080;

}

#titolo_principale {
    margin: 20px 0px 0px 0px;
}

#booleaner_color {
    color: #20A9E5;
}

#pictures {
    margin: 20px 20px 20px 0px;
    
    margin-left: 0.7%;
}

.little_paragraph {
    padding: 0px;
    margin: 0px;
}

.fulltext {
    font-size: 20px;
    margin-left: 0.7%;

}

.bgyellow {
    background-color: yellow;
}

.aligntb {
    text-align: left;
    margin-left: 0.7%;
}

.c1-2 {
    width: 25%;
    background-color:#20A9E5 ;
}


#c3 {
    width: 50%;
    background-color:#20A9E5 ;
}

.cn123 {
    background-color: #B1E5F2 ;
}

.lastheading {
    color: #808080;
    margin-left: 0.7%;

}

#walp1 {
    color: white;
    font-size: 26px;
    padding-top: 10px;
    padding-left: 10px;
}

#walp2 {
    color: white;
    font-size: 26px;
    padding-top: 10px;
    padding-left: 10px;

}

.monitorimage {
    background-image: url(./img/monitor.jpg);
    background-repeat: no-repeat;
    height: 200px;
    margin-left: 0.7%;

}

.graphimage {
    background-image: url(./img/graph.jpg);
    background-repeat: no-repeat;
    height: 200px;
    margin-left: 0.7%;
    padding-bottom: 20px;

}