#background-logo {
    background-image: url(./img/pattern.png);
    background-size: contain;
    background-repeat: repeat-x;
    background-color: #4EA0FF;

}

#logo {
    width: 20%;
    padding-top: 3%;
    padding-left: 1%;
    padding-bottom: 1%;
}

.art1-section {
    font-size: 30px;
}

#sottotitolo {
    font-size: 19px;
    margin: 0;
}

#minisottotitolo {
    font-size: 15px;
    margin: 0;

}

#titolo_principale {
    margin: 20px 0px 0px 0px;
}